{% extends "base.html" %}
{% block content %}
    <div class="home" style="text-align:center;">
            <div class="homeimg">
                <img src="/static/img/girl.jpg" alt="girl" height="371px" width="278px">
                <img src="/static/img/landing.jpg" alt="landing-picture" height="371px" width="566px">
                <img src="/static/img/boy.jpg" alt="boy" height="371px" width="278px">
            </div>
            <p class="lead">Business description</p>
            <a class="btn btn-lg btn-primary" href="{{ url_for('User.login_user') }}" role="button">Log In</a>
            <a class="btn btn-lg btn-success" href="{{ url_for('User.register_user') }}" role="button">Sign up today</a>
    </div>
{% endblock %}